<div class="container">
  <section id="admin-top">
    <div id="box-1" class="box">
      <div class="content">
        <p class="number"><%= todayData.todayUsers %></p>
        <p>new users</p>
      </div>
      <i class="fas fa-users fa-3x main-icon"></i>
    </div>

    <div id="box-2" class="box">
      <div class="content">
        <p class="number"><%= todayData.todayOrders %></p>
        <p>Today's Orders</p>
      </div>
      <i class="fas fa-briefcase fa-3x main-icon"></i>
    </div>

    <div id="box-3" class="box">
      <div class="content">
        <p class="number"><i class="fas fa-dollar-sign"></i><%= todayData.todayEarning %></p>
        <p>Earning</p>
      </div>
      <i class="fas fa-wallet fa-3x main-icon"></i>
    </div>
  </section>

  <section id="admin-panel">
    <div class="first-line">
      <a href="/admin/add-product">Add New Product</a>
    </div>

    <% products.forEach(product => { %>
    <div class="box<%if(product.isDeleted) {%> deleted<%}%>">
      <div class="background-image" style="background: url('<%= product.imagePath %>') no-repeat center center/cover">
    </div>

    <h1 class="title"><%= product.title%></h1>

    <% if(!product.isDeleted)  { %>
    <a href="/admin/update-product/<%= product._id %>" class="update">Update</a>

    <form action="/admin/delete-product/<%= product._id %>" method="POST">
      <button type="submit" class="delete">Delete</button>
    </form>
    <% } else { %>
    <form action="/admin/reset/<%= product._id %>" method="POST">
      <button type="submit" class="reset">Reset</button>
    </form>
    <% } %>
</div>
<% }) %>

</section>
</div>