<div class="container">
  <div class="order-items">
    <% if(orders.length > 0) { %>
    <h1 class="main-title">My Orders:</h1>
    <% orders.forEach(order => { %>
    <div class="order-item">
      <% order.items.forEach(item => { %>
      <div class="item">
        <div class="item-background-image"
          style="background: url('<%= item.item.imagePath %>') no-repeat center center/cover"></div>
        <a class="link" href="food/info/<%= item.item._id %>">
          <h1 class="title"><%= item.item.title %></h1>
        </a>
        <p class="units">Qty: <%= item.qty %></p>
        <p class="price"><i class="fas fa-dollar-sign"></i><%= item.price.toFixed(2) %></p>
      </div>
      <% }); %>
      <div class="order-item-total-price">
        <p>Total Price: <i class="fas fa-dollar-sign"></i><%= order.cart.totalPrice.toFixed(2) %></p>
      </div>
    </div>
    <% }); %>
    <% } else { %>
    <h1 class="main-title">You haven't buy anything yet</h1>
    <% } %>
  </div>
</div>